@font-face {
  font-family: "PixelBold";
  src: url("assets\fonts\PixelifySans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PixelRegular";
  src: url("/assets/fonts/PixelifySans-Regular.ttf") format("truetype");
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "PixelRegular", sans-serif;
  background-color: #212529;
  color: #f8f9fa;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  width: 100%;
  background-color: #6C757D;
  overflow: hidden;
}
.navbar li {
  float: right;
}
.active {
  background-color: #343A40;
}

li a {
  color: #f8f9fa;
  display: block;
  text-decoration: none;
  padding: 16px 40px;
  text-align: center;
  border-radius: 15px;
}
li a:hover {
  background-color: #464E56;
}

.body {
  background-color: #343A40;
  margin: 5%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* index.html */
.body-message {
  text-align: center;
  vertical-align: middle;
}

.discordstatus {
  padding: 10%;
}

/* contact.html */
.rounded-box {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #1e90ff, #00bfff);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px;
  font-family: Arial, sans-serif;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  width: 50%;
}

.rounded-box img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
