@font-face {
  font-family: "PixelBold";
  src: url("assets\fonts\PixelifySans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PixelRegular";
  src: url("/assets/fonts/PixelifySans-Regular.ttf") format("truetype");
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "PixelRegular", Monospace;
  background-color: #212529;
  color: #f8f9fa;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  position: relative;
  padding: 0;
  width: 100%;
  background-color: #6C757D;
  overflow: hidden;
}

.navbar li {
  float: right;
}
.active {
  background-color: #343A40;
}

li a {
  color: #f8f9fa;
  display: block;
  text-decoration: none;
  padding: 16px 40px;
  text-align: center;
  border-radius: 15px;
}

li a:hover {
  background-color: #464E56;
}

.body {
  background-color: #343A40;
  margin: 3%;
  padding: 8%;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}

/* index.html */
.body-message {
  text-align: center;
  vertical-align: middle;
}

.discordstatus {
  padding: 4%;
}

/* about.html */
.rounded-box {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 15px 25px;
  border-radius: 40px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  font-size: 18px;
}
.about {
  float: left;
  width: 50%;
}

.about.after {
  float: right;
  display: table;
  clear: both;
  gap: 15px;
}

.rounded-box:hover {
  transform: scale(1.05);
}

.rounded-box img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.steam {
  background: linear-gradient(45deg, #1e90ff, #00bfff);
}

.discord {
  background: linear-gradient(45deg, #7289da, #5865F2);
}

.reddit {
  background: linear-gradient(45deg, #ff4500, #ff5700);
}

.x {
  background: linear-gradient(45deg, #000000, #434343);
}

.spotify {
  background: linear-gradient(45deg, #1db954, #1ed760);
}

.lastfm {
  background: linear-gradient(45deg, #ba0000, #e50914);
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    text-align: center;
    padding: 6%;
  }

  .about {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact {
    align-items: center;
  }

  .rounded-box {
    width: 90%;
    justify-content: center;
  }
}